@tailwind base;
@tailwind components;
@tailwind utilities;




/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; 
  line-height: 1.5; 
  -webkit-text-size-adjust: 100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff; 
  color: #000; 
  overflow-x: hidden; 
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype'),
       url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
       url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype'),
       url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

/* 

400
600
700
800
*/